form input{
  color:blue;

}

div input{
  color:green;
}

@keyframes animar{
  from{
    background-color:yellow;
    width: 50px;
  }
  to{
    background-color: blue;
    width: 200pX
  }
}

input[type="submit"]{
 #animation-name: animar;
  #animation-duration: 5s;
}
